In [5]:
import os
import pandas as pd

In [6]:
# Use dir(library) to find functions
os.getcwd()

'C:\\Users\\RANYCS\\Desktop\\path_study'

In [9]:
os.listdir('data/Output') # note should make output lowercase

['adult_panel.csv']

In [11]:
dta = pd.read_csv('data/Output/adult_panel.csv')

C:\Users\RANYCS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,10,11,12,13,14,15,16,17,20,21,76,77,78,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
dta.head()

,PERSONID,cig_use_ever_w1,cig_current_freq_w1,cig_use_past30D_w1,cig_num_life_w1,gender_w1,hispanic_w1,race_w1,poverty_w1,region_w1,...,R01R_A_CUR_EXPR_CIGS,R01R_A_FMR_EXPR_CIGS,R02R_A_CUR_ESTD_CIGS,R02R_A_CUR_EXPR_CIGS,R02R_A_FMR_ESTD_CIGS_REV,R02R_A_FMR_EXPR_CIGS_REV,R03R_A_CUR_ESTD_CIGS,R03R_A_CUR_EXPR_CIGS,R03R_A_FMR_ESTD_CIGS_REV,R03R_A_FMR_EXPR_CIGS_REV
0,P000000004,0.0,-1.0,-1.0,-1.0,2.0,1.0,NaN,At or above poverty,4.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,P000000005,1.0,2.0,-1.0,5.0,2.0,1.0,NaN,At or above poverty,1.0,...,1.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0
2,P000000007,1.0,3.0,2.0,6.0,1.0,2.0,1.0,At or above poverty,4.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P000000008,1.0,1.0,-1.0,3.0,1.0,2.0,1.0,At or above poverty,2.0,...,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P000000030,1.0,1.0,-1.0,5.0,2.0,2.0,1.0,At or above poverty,2.0,...,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0

In [13]:
os.listdir('data/Input')

['36498-1001-Data.tsv',
 '36498-2001-Data.tsv',
 '36498-3001-Data.tsv',
 '36498-4001-Data.tsv']

In [52]:
#pd.read_csv('c:/~/trainSetRel3.txt', sep='\t')
# Note: pandas doesn't have read_tsv function or read_table function
## Just use pd.read_csv() and change sep argument
dta_w1 = pd.read_csv('data/Input/36498-1001-Data.tsv', sep = '\t')

C:\Users\RANYCS\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (432,433,434,435,436,437,438,439,440,668,669,670,671,672,673,674,675,676,677,678,679,680) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
# Note: need to find some interesting columns
dta_w1.columns

Index(['CASEID', 'PERSONID', 'R01_AC1002', 'R01_AC1003', 'R01_AC0100',
       'R01_AC0102', 'R01_AC0103', 'R01_AC1004', 'R01_AE1001', 'R01_AE1002',
       ...
       'R01R_A_PST12M_LNQUIT_ECIG_DUR', 'R01R_A_PST12M_LSTQUIT_DUR',
       'R01R_A_PST12M_LSTQUIT_ECIG_DUR', 'R01R_A_PST12M_LSTQUIT_ECIG_NRT',
       'R01R_A_PST12M_LSTQUIT_RX', 'R01R_A_PST12M_LSTQUIT_ECIG_RX',
       'R01R_A_PST12M_LSTQUIT_NRT', 'R01R_A_BIOCOLLECT_BUCCAL',
       'R01R_A_BIOCOLLECT_URINE', 'R01R_A_BIOCOLLECT_BLOOD'],
      dtype='object', length=1742)

In [53]:
dta_w1[["R01R_A_RACECAT3"]]

       R01R_A_RACECAT3
0               -99977
1               -99977
2                    1
3                    1
4                    1
...                ...
32315                1
32316                1
32317                1
32318                1
32319                1

[32320 rows x 1 columns]

In [ ]:
# gender_w1 = R01R_A_SEX,
#          race_w1 = R01R_A_RACECAT3,
#          hispanic_w1 = R01R_A_HISP,
#          sexual_orientation_w1 = R01R_A_SEXORIENT2,
#          poverty_w1 =R01R_POVCAT2,
#          region_w1 = R01X_CB_REGION,
#          cig_use_ever_w1 = R01_AC1002,
#          cig_current_freq_w1 = R01_AC1003,
#          cig_use_past30D_w1 = R01_AC1004,
#          cig_num_life_w1 = R01_AC1005) %>%

In [51]:
dta_w1[['R01R_A_SEXORIENT2']].head()

KeyError: "None of [Index(['R01R_A_SEXORIENT2'], dtype='object')] are in the [columns]"

In [54]:
# inplace = True
# Assignment, copt, inplace vs. R
dta_w1.rename(columns = {  "R01R_A_SEX": "gender_w1", 
                         "R01R_A_RACECAT3": "race_w1"}, inplace = True)
dta_w1[["gender_w1", "race_w1"]].head()

   gender_w1  race_w1
0          2   -99977
1          2   -99977
2          1        1
3          1        1
4          2        1

### Check Unique values

In [62]:
dta_w1[['gender_w1', 'race_w1']].apply(pd.unique)

gender_w1       [2, 1, -99977, -99988, -97777]
race_w1      [-99977, 1, 2, 3, -99988, -97777]
dtype: object