In [1]:
import os
import pandas as pd

In [2]:
# Use dir(library) to find functions
os.getcwd()

'/Users/WilliamSpagnola/Desktop/github_proj/path_study'

In [3]:
os.listdir('data/Output') # note should make output lowercase

['.DS_Store', 'adult_panel.csv']

In [4]:
dta = pd.read_csv('data/Output/adult_panel.csv')

/Users/WilliamSpagnola/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8,10,11,12,13,14,15,16,17,20,21,76,77,78,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
dta.head()

,PERSONID,cig_use_ever_w1,cig_current_freq_w1,cig_use_past30D_w1,cig_num_life_w1,gender_w1,hispanic_w1,race_w1,poverty_w1,region_w1,...,R01R_A_CUR_EXPR_CIGS,R01R_A_FMR_EXPR_CIGS,R02R_A_CUR_ESTD_CIGS,R02R_A_CUR_EXPR_CIGS,R02R_A_FMR_ESTD_CIGS_REV,R02R_A_FMR_EXPR_CIGS_REV,R03R_A_CUR_ESTD_CIGS,R03R_A_CUR_EXPR_CIGS,R03R_A_FMR_ESTD_CIGS_REV,R03R_A_FMR_EXPR_CIGS_REV
0,P000000004,0.0,-1.0,-1.0,-1.0,2.0,1.0,NaN,At or above poverty,4.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,P000000005,1.0,2.0,-1.0,5.0,2.0,1.0,NaN,At or above poverty,1.0,...,1.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0
2,P000000007,1.0,3.0,2.0,6.0,1.0,2.0,1.0,At or above poverty,4.0,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,P000000008,1.0,1.0,-1.0,3.0,1.0,2.0,1.0,At or above poverty,2.0,...,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,P000000030,1.0,1.0,-1.0,5.0,2.0,2.0,1.0,At or above poverty,2.0,...,1.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0

In [6]:
os.listdir('data/Input')

['.DS_Store',
 '36498-3001-Data.tsv',
 '36498-4001-Data.tsv',
 '36498-1001-Data.tsv',
 '36498-2001-Data.tsv']

In [7]:
#pd.read_csv('c:/~/trainSetRel3.txt', sep='\t')
# Note: pandas doesn't have read_tsv function or read_table function
## Just use pd.read_csv() and change sep argument
dta_w1 = pd.read_csv('data/Input/36498-1001-Data.tsv', sep = '\t')

/Users/WilliamSpagnola/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (432,433,434,435,436,437,438,439,440,668,669,670,671,672,673,674,675,676,677,678,679,680) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
# Note: need to find some interesting columns
dta_w1.columns

Index(['CASEID', 'PERSONID', 'R01_AC1002', 'R01_AC1003', 'R01_AC0100',
       'R01_AC0102', 'R01_AC0103', 'R01_AC1004', 'R01_AE1001', 'R01_AE1002',
       ...
       'R01R_A_PST12M_LNQUIT_ECIG_DUR', 'R01R_A_PST12M_LSTQUIT_DUR',
       'R01R_A_PST12M_LSTQUIT_ECIG_DUR', 'R01R_A_PST12M_LSTQUIT_ECIG_NRT',
       'R01R_A_PST12M_LSTQUIT_RX', 'R01R_A_PST12M_LSTQUIT_ECIG_RX',
       'R01R_A_PST12M_LSTQUIT_NRT', 'R01R_A_BIOCOLLECT_BUCCAL',
       'R01R_A_BIOCOLLECT_URINE', 'R01R_A_BIOCOLLECT_BLOOD'],
      dtype='object', length=1742)

In [12]:
dta_w1[["R01R_A_RACECAT3"]]

       R01R_A_RACECAT3
0               -99977
1               -99977
2                    1
3                    1
4                    1
...                ...
32315                1
32316                1
32317                1
32318                1
32319                1

[32320 rows x 1 columns]

In [13]:
# gender_w1 = R01R_A_SEX,
#          race_w1 = R01R_A_RACECAT3,
#          hispanic_w1 = R01R_A_HISP,
#          sexual_orientation_w1 = R01R_A_SEXORIENT2,
#          poverty_w1 =R01R_POVCAT2,
#          region_w1 = R01X_CB_REGION,
#          cig_use_ever_w1 = R01_AC1002,
#          cig_current_freq_w1 = R01_AC1003,
#          cig_use_past30D_w1 = R01_AC1004,
#          cig_num_life_w1 = R01_AC1005) %>%

In [14]:
dta_w1[['R01R_A_SEXORIENT2']].head()

   R01R_A_SEXORIENT2
0                  2
1                  2
2                  2
3                  2
4                  2

In [15]:
# inplace = True
# Assignment, copt, inplace vs. R
dta_w1.rename(columns = {  "R01R_A_SEX": "gender_w1", 
                         "R01R_A_RACECAT3": "race_w1"}, inplace = True)
dta_w1[["gender_w1", "race_w1"]].head()

   gender_w1  race_w1
0          2   -99977
1          2   -99977
2          1        1
3          1        1
4          2        1

### Check Unique values

In [62]:
dta_w1[['gender_w1', 'race_w1']].apply(pd.unique)

gender_w1       [2, 1, -99977, -99988, -97777]
race_w1      [-99977, 1, 2, 3, -99988, -97777]
dtype: object

In [22]:
dta_w1.replace([-99988, -99977, -97777], pd.NA, inplace = True)
dta_w1[['gender_w1', 'race_w1']].apply(pd.unique)

gender_w1       [2, 1, <NA>]
race_w1      [<NA>, 1, 2, 3]
dtype: object

##  Load Wave 2 data

In [23]:
os.getcwd()

'/Users/WilliamSpagnola/Desktop/github_proj/path_study'

In [26]:
os.listdir('data/Input')

['.DS_Store',
 '36498-3001-Data.tsv',
 '36498-4001-Data.tsv',
 '36498-1001-Data.tsv',
 '36498-2001-Data.tsv']

In [31]:
dta_w2 = pd.read_csv('data/Input/36498-2001-Data.tsv', sep = "\t")

/Users/WilliamSpagnola/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (926,927,928,929,930,931,932,933,934,935,936,937,938,1076,1077,1078,1079,1080,1081,1082,1083,1084,1085,1086,1087,1088) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [32]:
dta_w2.columns

Index(['CASEID', 'PERSONID', 'R02_CONTINUING_ADULT_LD',
       'R02_NEW_BASELINE_ADULT_LD', 'R02_AT0047', 'R02_AC1004',
       'R02_AC1002_12M', 'R02_AC1003', 'R02_AC0100', 'R02_AC0102',
       ...
       'R02R_A_MINTMAXNOUSE_P12M_TOB', 'R02R_A_DAYSUSED_NRT',
       'R02R_A_DAYSMED_LSTATMPTQUIT_ECIG', 'R02R_A_DAYSMED_LSTATMPTQUIT_TOB',
       'R02R_A_DAYSUSED_RX', 'R02R_A_DAYSPMED_LSTATMPTQT_ECIG',
       'R02R_A_DAYSPMED_LSTATMPTQT_TOB', 'R02R_A_WKPREG',
       'R02R_A_BIOCOLLECT_URINE', 'R02R_A_BIOCOLLECT_BLOOD'],
      dtype='object', length=2208)

In [69]:
# Find quit variable
dta_w2.filter(regex = "CIGS")
dta_w2.filter(regex = "FMR").head()

,R02R_A_FMR_ESTD_CIGS_REV,R02R_A_FMR_EXPR_CIGS_REV,R02R_A_PERDAY_FMR_CIGS,R02R_A_FMR_ESTD_ECIG,R02R_A_FMR_EXPR_ECIG,R02R_A_FMR_ESTD_GTRAD_REV,R02R_A_FMR_EXPR_GTRAD_REV,R02R_A_FMR_ESTD_GRILLO_REV,R02R_A_FMR_EXPR_GRILLO_REV,R02R_A_FMR_ESTD_GFILTR_REV,...,R02R_A_FMR_ESTD_PIPE_REV,R02R_A_FMR_EXPR_PIPE_REV,R02R_A_FMR_ESTD_HOOK_REV,R02R_A_FMR_EXPR_HOOK_REV,R02R_A_FMR_ESTD_SMKLS_REV,R02R_A_FMR_EXPR_SMKLS_REV,R02R_A_FMR_ESTD_SNUS_REV,R02R_A_FMR_EXPR_SNUS_REV,R02R_A_FMR_ESTD_DISSBL_REV,R02R_A_FMR_EXPR_DISSBL_REV
0,2,2,-99911,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
1,2,2,-99911,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2,2,2,-99911,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
3,2,2,-99911,2,2,2,2,2,2,2,...,2,2,2,1,2,2,2,2,2,2
4,1,2,-99911,2,2,2,2,1,2,2,...,2,2,2,1,2,2,2,2,2,2

In [73]:
dta_w2.rename(columns = {'R02R_A_FMR_ESTD_CIGS_REV': 'w2_fmr_est_smoker'}, inplace = True)

In [78]:
#df1.merge(df2, left_on='lkey', right_on='rkey')
dta_w1[['PERSONID', 'gender_w1', 'race_w1']].merge(dta_w2[['PERSONID', 'w2_fmr_est_smoker']], left_on = 'PERSONID', right_on = 'PERSONID')
                     
                    # merge(dta_w2, left_on = 'PERSONID', right_on = 'PERSONID')

         PERSONID gender_w1 race_w1  w2_fmr_est_smoker
0      P000000004         2    <NA>                  2
1      P000000005         2    <NA>                  2
2      P000000030         2       1                  2
3      P000000074         2       1                  2
4      P000000090         2       2                  1
...           ...       ...     ...                ...
26442  P000499943         1       3                  2
26443  P000499957         2       1                  2
26444  P000499959         1       1                  1
26445  P000499979         2       1                  2
26446  P000499986         1       1                  2

[26447 rows x 4 columns]

In [62]:
dta_w2[["R02R_A_FMR_ESTD_CIGS_REV"]]

       R02R_A_FMR_ESTD_CIGS_REV
0                             2
1                             2
2                             2
3                             2
4                             1
...                         ...
28357                         2
28358                         2
28359                         1
28360                         2
28361                         2

[28362 rows x 1 columns]

# Weird Python Things for R Users
- NA values are floating points, can't be used for integers, strings
- No pd.read_tsv() or pd.read_table() function, use pd.read_csv() and set sep argument equal to "\t" instead
- Copy vs. View
 - Can use inplace = True instead of using assignment
- When to call a function vs. when to apply a method
- DataFrames, numpy arrays, vectorization aren't native
- Using aliases for library names (pd for pandas, np for numpy) is nice